
#container{
  background-color: skyblue;
  position: relative;
  width: 50%;
  border: 5px solid black;
  border-radius: 20px 20px 20px 20px;
  margin: 0px auto;
  padding: 20px 20px 100px 20px;
}
#ss
{ 
	font-size: 20px;
}
	
#agh{
  position: relative;
  float: right;
  margin-top: 15px;
}
#agh p{
  font-size: 20px;
  font-weight: 900;
}
button[type=button] {
  background: white;
  width: 20%;
  padding: 3%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 9%;
  margin-top: 6%;
}
input[type=submit]{
padding: 10px;
text-align: center;
font-size: 18px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 2px solid #e5a900;
color: #ffffff;
font-weight: bold;
cursor: pointer;
text-shadow: 0px 1px 0px #13506D;
width: 100%;
border-radius: 5px;
margin-bottom: 15px;
}
input[type=submit]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
}
input[type=button]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


input[type = text] {
  position: relative;
  display: block;
  max-height: 200px;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}
.header{
    background-color: green;
	color: white;
  padding: 20px;
  border: 5px solid black;
  margin:30px;
<<<<<<< HEAD
}
#container{
  background-color: skyblue;
  position: relative;
  width: 50%;
  border: 5px solid black;
  border-radius: 20px 20px 20px 20px;
  margin: 0px auto;
  padding: 20px 20px 100px 20px;
}
#ss
{ 
	font-size: 20px;
}
	
#agh{
  position: relative;
  float: right;
  margin-top: 15px;
}
#agh p{
  font-size: 20px;
  font-weight: 900;
}
button[type=button] {
  background: white;
  width: 20%;
  padding: 3%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 9%;
  margin-top: 6%;
}
input[type=submit]{
padding: 10px;
text-align: center;
font-size: 18px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 2px solid #e5a900;
color: #ffffff;
font-weight: bold;
cursor: pointer;
text-shadow: 0px 1px 0px #13506D;
width: 100%;
border-radius: 5px;
margin-bottom: 15px;
}
input[type=submit]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}
}
input[type=button]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


input[type = text] {
  position: relative;
  display: block;
  max-height: 200px;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px 10px 10px 10px;
}
.header{
    background-color: green;
	color: white;
  padding: 20px;
  border: 5px solid black;
  margin:30px;
=======
>>>>>>> 7778d90f0893e63ff447ed70ad57ff4a0833f36b
}